ENV=dev

# App
APP_NAME=myapp-api
APP_VERSION=1.0.0

# HTTP settings
HTTP_PORT= #port

# Logger
LOG_LEVEL=debug

#JWT
ACCESS_SECRET= #Access_secret
REFRESH_SECRET= #Refresh_secret

# PG
PG_POOL_MAX= #2
PG_URL= #postgres://username:@password@host:port/dbname?sslmode=disable
